<nav class="navbar navbar-light bg-primary">
    <div class="container fluid">
        <h1 style="color: #fff">Nome dell'Utente</h1>
    </div>
    <div class="d-flex">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" >Nuova Prenotazione</button>
      </div>
</nav>


<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">Ufficio</th>
            <th scope="col">Posto</th>
            <th scope="col">data_inizio</th>
            <th scope="col">data_fine</th>
            <th scope="col">data_prenotazione</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>3A</td>
            <td>15/01/2022</td>
            <td>22/01/2022</td>
            <td>08/01/2022</td>
            <td>
                <button class = "btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">Modifica</button>
                <button class = "btn btn-danger mx-3">Elimina</button>
            </td>
        </tr>
    </tbody>
</table>

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLabel">Dettagli Prenotazione</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="mb-3">
                  <label class="form-label">Ufficio</label>
                  <input type="text" class="form-control"  aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label class="form-label">Posto</label>
                  <input type="text" class="form-control" >
                </div>

                <div class="mb-3">
                  <label class="form-label">data_inizio</label>
                  <input type="date" class="form-control">
                </div>

                <div class="mb-3">
                    <label  class="form-label">data_fine</label>
                    <input type="date" class="form-control">
                  </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
          <button type="button" class="btn btn-primary">Aggiungi</button>
          <button type="button" class="btn btn-primary">Modifica</button>
        </div>
      </div>
    </div>
  </div>
