<nav class="navbar navbar-light bg-primary">
    <div class="container fluid">
        <h1 style="color: #fff">Aziende</h1>
    </div>
    <div class="d-flex">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" >Aggiungi Azienda</button>
      </div>
</nav>


<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">ID_Azienda</th>
            <th scope="col">P_iva</th>
            <th scope="col">Nome</th>
            <th scope="col">Settore</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>G.g 5</td>
            <td>500</td>
            <td>1</td>
            <td>
                <button class = "btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">Modifica</button>
                <button class = "btn btn-danger mx-3">Elimina</button>
                <button class = "btn btn-success mx-10 ">Dettaglio Uffici</button>
            </td>
        </tr>
    </tbody>
</table>

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLabel">Dettagli Azienda</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="mb-3">
                  <label for class="form-label">P_IVA</label>
                  <input type="text" class="form-control" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label class="form-label">Nome</label>
                  <input type="text" class="form-control">
                </div>

                <div class="mb-3">
                  <label class="form-label">Settore</label>
                  <input type="text" class="form-control" >
                </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
          <button type="button" class="btn btn-primary">Aggiungi</button>
          <button type="button" class="btn btn-primary">Modifica</button>
        </div>
      </div>
    </div>
  </div>