<div fxLayoutAlign = "center center" fxFlexFill class="main-div">
    <mat-card fxFlex="30">
        <mat-toolbar color="primary">Sign-Up Page</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="signups-form">
            <mat-form-field>
              <input matInput placeholder="Nome" >
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Cognome" >
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Codice Fiscale" >
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Telefono" >
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Ruolo" >
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Azienda" >
              </mat-form-field>

              <button mat-raised-button type = "submit"> Registrati </button>
          </form>
          <!--<a style="color: rgb(17, 13, 240);margin-top: 10px;;" routerLink="/home">Crea un profilo</a>!-->
    </mat-card>
</div>
